table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  min-width: 300px;
  min-height: 100px;
}

.breadcrumbs li {
  margin-right: 30px;
}
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
.row {
  display: flex;
}
.column h2 {
  text-align: center;
}
.header_index {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-weight: bolder;
}


