<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %} Polls App {% endblock %}
    </title>
</head>
<body>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}?next={{ request.path }}" method="post">
            {% csrf_token %}
        <input type="submit" value="Logout" class="btn btn-danger"/>
        </form>
    {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-info">Login</a>
    {% endif %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} >{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    {% block body %}{% endblock %}
</body>
</html>