{% extends 'polls/base.html' %}

{% block title %} Poll {% endblock %}

{% block body %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h1>{{ question.question_text }}</h1></legend>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            {% for choice in question.choices.all|dictsort:'choice_text' %}
                <input type="radio" name="choice" value="{{ choice.id }}"
                       id="choice-{{ forloop.counter }}"/>
                <label for="choice-{{ forloop.counter }}">
                    {{ choice.choice_text }}
                </label><br>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Vote"/>
    </form>
{% endblock %}