{% extends 'articles/base.html' %}

{% block title %} Author {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li style="margin-right: 20px;" class="breadcrumb"><a href="{% url 'articles:authors_list' %}">Авторы</a></li>
    <li style="margin-right: 20px;" class="breadcrumb"><a href="{{ request.path }}">{{ author.first_name }} {{ author.last_name }}</a></li>
{% endblock %}
{% block body %}

    <h1>{{ author.first_name }} {{ author.last_name }}</h1>
    <p>{{ author.date_of_birth }}</p>
    <ul>
        {% for article in articles %}
            <li><a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}