<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %} Articles App {% endblock %}
    </title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} >{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
{#    {% if request.resolver_match.url_name != "index" %}#}
    <nav class="breadcrumbs">
    <ul style="list-style-type: disclosure-closed; display: flex;">
        {% block breadcrumbs %}
            <li class="breadcrumb" style="margin-right: 30px;"><a href="{% url 'articles:index' %}">Главная</a></li>
        {% endblock %}
    </ul>
    </nav>
{#    {% endif %}#}
    {% block body %}
    {% endblock %}
</body>
</html>
