{% extends 'articles/base.html' %}

{% block title %} Article {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb"><a href="{{ request.path }}">{{ article.title }}</a></li>
{% endblock %}
{% block body %}

    <h1>{{ article.title }}</h1>
    <p>{{ article.text }}</p>
    <p>{{ article.author }}</p>
    <p><strong>Likes: {{ article.like_count }}</strong></p>
    <form method="post" action="{% url 'articles:like' article.id %}">
        {% csrf_token %}
        <input type="hidden" name="article_id" value="{{ article.id }}"/>
        <input type="submit" value="like"/>
    </form>
{% endblock %}