{% extends 'articles/base.html' %}

{% block title %} Article {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb"><a href="{{ request.path }}">{{ article.title }}</a></li>
{% endblock %}
{% block body %}

    <h1>{{ article.title }}</h1>
    <p>{{ article.text }}</p>
    <ul style="list-style-type: disclosure-closed; display: flex;">
        {% for author in authors %}
            <li style="margin-right: 20px;"><a href="{% url 'articles:author_detail' author.id %}">{{ author }}</a></li>
        {% endfor %}
    </ul>
    <p><strong>Likes: {{ article.like_count }}</strong></p>
    <form method="post" action="{% url 'articles:like' article.id %}">
        {% csrf_token %}
        <input type="hidden" name="article_id" value="{{ article.id }}"/>
        <input type="submit" value="like"/>
    </form>
{% endblock %}