{% extends 'polls/base.html' %}

{% block title %}  {% endblock %}

{% block body %}
    <h1>Смешные собеседования: истории ИТ-рекрутеров</h1>
    {% if articles %}
        <ol>
            {% for article in articles|dictsort:'title' %}
                <li><a href="{% url 'articles:detail' article.id %}">{{ article.title }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <p>There are no articles</p>
    {% endif %}
    <p>
        <a href="{% url 'articles:create_article' %}">create new article</a>
    </p>
{% endblock %}