<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %} Shop App {% endblock %}
    </title>
</head>
<body>
    <nav class="breadcrumbs">
    <ul style="list-style-type: disclosure-closed; display: flex;">
        {% block breadcrumbs %}
            <li class="breadcrumb" style="margin-right: 30px;"><a href="{% url 'shop:index' %}">Главная</a></li>
        {% endblock %}
    </ul>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>
