<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %} Shop App {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
</head>
<body>
    <div class='top'></div>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}?next={{ request.path }}" method="post">
            {% csrf_token %}
            <span>Hi, {{ request.user.username | title }}</span>
            <span><a href="{% url 'shop:profile' %}">Профиль</a></span>
            <span><a href="{% url 'shop:cart' %}">Корзина</a></span>
            <input type="submit" value="Logout" class="btn btn-danger"/>
        </form>
    {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-info">Login</a>
        <a href="{% url 'register' %}?next={{ request.path }}" class="btn btn-info">Register</a>
    {% endif %}

    <nav class="breadcrumbs">
    <ul style="list-style-type: disclosure-closed; display: flex;">
        {% block breadcrumbs %}
            <li class="breadcrumb" style="margin-right: 30px;"><a href="{% url 'shop:index' %}">Главная</a></li>
        {% endblock %}
    </ul>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>
