{% extends 'shop/base.html' %}

{% block title %} Product {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="breadcrumb" style="margin-right: 30px;"><a href="{{ request.path }}">{{ product.category.name }}</a></li>
    <li class="breadcrumb" style="margin-right: 30px;"><a href="{{ request.path }}">{{ product.name }}</a></li>
{% endblock %}


{% block body %}
    <h1>{{ product.name }}</h1>
    <p><a href="{% url 'shop:category' product.category.id %}">{{ product.category.name }}</a></p>
    <p>{{ product.description }}</p>
{% endblock %}